@import './variables.scss';

/*
 * HELPERS
 * General utility classes
 * ========================================================================== */

/*
 * #NO-SCROLL
 * ========================================================================== */

html, body {
  .no-scroll {
    margin: 0;
    height: 100%;
    overflow: hidden;
  }

  .no-scroll-mobile {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;

    @media (min-width: $screen-sm-min) {
      position: inherit;
      height: inherit;
      overflow: inherit;
    }
  }
}

/*
 * #CONTAINER
 * ========================================================================== */

.container {
  lost-utility: clearfix;

  width: 100%;
  margin: 0 auto;
  padding-left: $spacing-md-rem;
  padding-right: $spacing-md-rem;
}

.container--sm {
  max-width: $container-width-sm;
  @media (min-width: $screen-sm-min) {
    padding: 0;
  }
}

.container--md {
  max-width: $container-width-md;
  @media (min-width: $screen-sm-min) {
    padding: 0;
  }
}

.container--lg {
  max-width: $container-width-lg;
  @media (min-width: $screen-sm-min) {
    padding: 0;
  }
}

.container--xlg {
  max-width: $container-width-xlg;
  padding: 0;
  @media (min-width: $screen-sm-min) {
    padding: 0;
  }
}

.container--line {
  border-top: 1px solid $colour-black;
  border-bottom: 1px solid $colour-black;
}

/*
 * #BUTTON
 * ========================================================================== */

.button {

  position: relative;
  padding: $spacing-xxs 0;

  stroke: $colour-black;
  fill: $colour-black;
  color: $colour-black;

  &.bordered {
    padding: $spacing-xxs $spacing-xs;
    border: 1px solid $colour-black;

    &:hover, &:active, &:focus {
      background-color: $colour-grey-light;
      //color: $colour-white;
      //stroke: $colour-white;
      //fill: $colour-white;
    }
  }

  &:link, &:visited {
    text-decoration: none;
  }

  &.dark {
    border-color: $colour-white;
    stroke: $colour-white;
    fill: $colour-white;
    color: $colour-white;

    &:hover, &:active, &:focus {
      //border-color: $colour-black;
      //stroke: $colour-black;
      //fill: $colour-black;
      //color: $colour-black;
      background-color: $colour-grey-dark;
    }
  }
}

.button--sm {
  font-size: $font-size-sm;
}

.button--is-breakout {
  position: absolute;
  bottom: -0.60em;
  left: 0;
  line-height: $line-height-sm;
}

/*
 * #ACTION-BUTTON
 * ========================================================================== */

.action-button {
  display: inline-flex;
  align-items: center;

  &.wide {
    display: flex;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
  }

  .icon {
    margin-left: $spacing-xxs;
    display: inline-flex;

    span {
      display: inline-flex;
    }
  }

}

/*
 * #TILE-IMAGE-TAG
 * ========================================================================== */

.tile-image-tag {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;
  padding: $spacing-xs $spacing-xs $spacing-xs $spacing-xxs;
  line-height: $line-height-sm;
  font-size: $font-size-xs;
  font-family: "Powerhouse-Filar-Bold";
  background-color: $colour-black;
  color: $colour-white;
  text-decoration: none;

  &:before {
    top: 0;
    left: -0.77em;
    position: absolute;
    width: 0;
    height: 0;
    content: '';
    border-right: 0.7828em solid $colour-black;
    border-top: 2.26em solid transparent;
  }
}

/*
 * #SECTION
 * ========================================================================== */

.section {
  lost-utility: clearfix;

  padding: $spacing-lg 0 $spacing-lg;
}

.section--dividers {
  border-top: 0.1em solid $colour-black;
  // border-bottom: 3px solid $colour-grey-lightest;
}

.section--line {
  border-top: 0.1em solid $colour-black;
  border-bottom: 0.1em solid $colour-black;
}

  .section__title {
    margin-top: 0.3em;
    margin-bottom: $spacing-xs;
    font-family: 'Powerhouse-Filar-Bold';
    font-size: $font-size-lg;
    text-transform: uppercase;
    letter-spacing: -0.02em;

    @media(min-width: $screen-sm-min) {
      font-size: $font-size-lg;
    }
  }

/*
 * #COLS
 * ========================================================================== */

.cols {
  lost-utility: clearfix;


  @media(min-width: $screen-sm-min) {
    display: flex;
    justify-content: center;
  }
}

  .cols__main {

    @media(min-width: $screen-sm-min) {
      lost-column: 2/3 0 $spacing-xxxxlg flex;
    }
  }

  .cols__aside {

    @media(min-width: $screen-sm-min) {
      lost-column: 1/3 0 $spacing-xxxxlg flex;
    }
  }

/*
 * #BREAKOUT
 * ========================================================================== */

.breakout {
  line-height: $line-height-sm;
  font-size: $font-size-xlg;
  font-family: 'Powerhouse-Filar-Bold';
  text-align: center;
  margin-top: $spacing-md;
  margin-bottom: $spacing-md;

  em {
    font-style: normal;
    color: $colour-black;
  }

  &:first-child {
    margin-top: 0;
  }
}

.breakout--align-left {
  text-align: left;
}

/*
 * Javascript states
 * ========================================================================== */

.is-hidden {
  display: none;
}

/* maas component overrides */

.maas-image {
  &.is-loading {
    background-color: transparent;
  }
}

.maas-image__status {
  background-color: transparent;
}